
html
{
    scroll-behavior: smooth;
}

body
{
    background-color:#E7F2F6;
}

 
.jumbotronImg
{
    height: 250px;
    background-color:#E7F2F6;
}

.jumbotron2
{
    background-color:#E7F2F6;
}
/* 195A9E
E7F2F6 */
.hr1
{
    margin-top: 35px;
    width: 90%;
    border: 2px solid black;
}
.h1_1
{
    text-align: center;
}
.button1
{
    border-radius: 100px 100px; 
    border: solid white;
    color: whitesmoke;
    background-color: rgb(76, 152, 233);
}
.button1:hover
{
    border: solid rgb(141, 141, 141);
    background-color: rgb(159, 201, 245);
}

.formDiv
{
    margin-top: 75px;
    text-align: center;
}
.formDiv1
{
    text-align: center;
}
form
{
    width: 25%;
    margin-left:40%;
    
}
.form1
{
    width:  100%;

}
.form2
{
    margin-left: 20px;
    display:inline;
}
.form3
{
    margin-right: 25%;
}
.form4
{
    margin-top: 0px;
}
.formhr
{
	margin-bottom: 25px;
	width: 25%;
	border: 1px solid #566D7E;
}
.bo1
{
	width: 150px;
}
.boReason
{
	width: 500px;
}
.empWOnonDesc
{
	width: 175px;
}
.empWODesc
{
	width: 500px;
}
.navButtons
{

	margin-right: 10px;
	
}

.img1
{
    height: 100px;
    width: 150px;
}
.hiddenform
{
   margin-left: 0px;
}
.hiddenform1
{
   margin-left: auto;
}
.hiddenform2
{
   margin-left: 37.5%;
}
.descCell
{
    max-width: 600px;
}

/*-----------Select which view style---------------*/

.select_form
{
    float: right;
    border: solid black 3px;
    width: 300px;
    margin-right: 10%;
}
.choice
{
    margin-left: 30px;

}
.div_space
{
    margin-top: 50px;
}


/*---------------------------------------------------------------------*/

/*-----------List View Style Table---------------*/

table
{
    border: solid black 1px;
    width: 100%;
    text-align: center;
}
td
{
    border: solid black 1px;
}
th
{
    border: solid black 1px;
}

.tbl_space
{
    margin-top: 25px;
}


/*---------------------------------------------------------------------*/

/*-----------Modal Button---------------*/
.mbut
{
    float: right;
    margin-right: 50%;
    margin-top: 25px;
}

.subBut
{
    margin-top: 25px;
}
.modalContent
{
    margin-right: 20px;
    width: 50%;
}
.infoBut
{
    display: inline-block;
}

/*---------------------------------------------------------------------*/
/*-----------Calendar Style---------------*/
#items
{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}
.item
{
   display: inline-block;
   width: 400px;
   height: auto;
   border:1px solid;
   margin-right: 20px;
}
.hour
{
    width: 50px;
}
.row_height
{
    height: 50px;
}
.cal_bg
{
    background-color: #B6B6B4;
}
.cal_tbl_bg
{
    background-color:#E7F2F6; 
}
.sched_work
{
    background-color:rgb(76, 152, 233);
    border:none;
    border-right: solid black 1px;
    
}
.sched_work_15_min
{
    background-color:rgb(76, 152, 233);

}
.sched_work_top
{
    background-color:rgb(76, 152, 233);
    border:none;
    border-bottom: solid black 1px;
	border-right: solid black 1px; 
}

.blockout
{
    background-color:rgb(96, 112, 133);
    border:none;
    border-right: solid black 1px;
}

.blockout_top
{
    background-color:rgb(96, 112, 133);
    border:none;
    border-right: solid black 1px;
	border-bottom: solid black 1px;
}
.blockout_15_min
{
    background-color:rgb(96, 112, 133);

}


.no_work
{
    background-color:#3D3C3A;
    border:none;
    border-right: solid black 1px;
}
.no_work_top
{
    background-color:#3D3C3A;
    border:none;
    border-right: solid black 1px;
	border-bottom: solid black 1px;
}
.no_work_15_min
{
    background-color:#3D3C3A;

}
.woCol
{
	background-color: rgb(76, 152, 233);
	width: 25px;
	height: 25px;
}
.boCol
{
	background-color: rgb(96, 112, 133);
	width: 25px;
	height: 25px;
}
.noCol
{
	background-color: #3D3C3A;
	width: 25px;
	height: 25px;
}
.woCol1
{

	width: 25px;

}
.boCol1
{

	width: 50px;

}
.noCol1
{

	width: 50px;

}
.colKey
{
	border:none;
}