html
{
    scroll-behavior: smooth;
}

body
{
    background-color:#E7F2F6;
}

 
.jumbotronImg
{
    height: 250px;
    background-color:#E7F2F6;
}

.jumbotron2
{
    background-color:#E7F2F6;
}
/* 195A9E
E7F2F6 */
.hr1
{
    margin-top: 35px;
    width: 90%;
    border: 2px solid black;
}
.h1_1
{
    text-align: center;
}
.button1
{
    border-radius: 100px 100px; 
    border: solid white;
    color: whitesmoke;
    background-color: rgb(76, 152, 233);
}
.button1:hover
{
    border: solid rgb(141, 141, 141);
    background-color: rgb(159, 201, 245);
}

.formDiv
{
    margin-top: 75px;
    text-align: center;
}
.formDiv1
{
    text-align: center;
}
form
{
    width: 25%;
    margin-left:40%;
    
}
.form1
{
    width:  100%;

}
.img1
{
    height: 100px;
    width: 150px;
}

/*-----------Select which view style---------------*/

.select_form
{
    float: right;
    border: solid black 3px;
    width: 300px;
    margin-right: 10%;
}
.choice
{
    margin-left: 30px;

}
.div_space
{
    margin-top: 50px;
}


/*---------------------------------------------------------------------*/

/*-----------List View Style Table---------------*/

table
{
    border: solid black 1px;
    width: 100%;
    text-align: center;
}
td
{
    border: solid black 1px;
}
th
{
    border: solid black 1px;
}

.tbl_space
{
    margin-top: 25px;
}


/*---------------------------------------------------------------------*/

/*-----------Modal Button---------------*/
.mbut
{
    float: right;
    margin-right: 50%;
    margin-top: 25px;
}

.subBut
{
    margin-top: 25px;
}
.modalContent
{
    margin-right: 20px;
    width: 50%;
}
.infoBut
{
    display: inline-block;
}

/*---------------------------------------------------------------------*/

/*-----------Calendar CSS just for demo---------------*/




.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style-type: none;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  .days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
  }
  

/*---------------------------------------------------------------------*/

/*-----------any new css you write between these please---------------*/





/*---------------------------------------------------------------------*/